<%= form_for(@folder) do |f| %>
  <% if @folder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@folder.errors.count, "error") %> prohibited this folder from being saved:</h2>

      <ul>
      <% @folder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :folders_name %><br />
    <%= f.text_field :folders_name %>
  </div>
  <div class="field">
    <%= f.label :folders_description %><br />
    <%= f.text_field :folders_description %>
  </div>
  <div class="field">
    <%= f.label :parent_url %><br />
    <%= f.text_field :parent_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
