<h1>Listing folders</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Folders name</th>
    <th>Folders description</th>
  </tr>

<% @folders.each do |folder| %>
  <tr>
    <td><%= folder.id %></td>
    <td><%= link_to folder.folders_name, folder  %>(<%= folder.photos.count %>)</td>
    <td><%= folder.folders_description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Folder', new_folder_path %>
