<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @keyword.id %>
</p>

<p>
  <b>Keyword:</b>
  <%= @keyword.keyword %>
</p>

<p>
  <b>Keyword description:</b>
  <%= @keyword.keyword_description %>
</p>


<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
